@use 'variables/typography' as type;
@use 'variables/spacing' as *;
@use 'mixins/typography' as type-mixins;
@use 'mixins/responsive' as *;
@use 'devices/mobile';
@use 'devices/tablet';
@use 'devices/desktop';
@use 'devices/large-screen';

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Source+Code+Pro:wght@400;700&family=Montserrat:wght@400;700&family=Merriweather:wght@400;700&display=swap');

// Theme variables
$themes: (
	light: (
		bg-color: #ffffff,
		bg-gradient: linear-gradient(to bottom, #ffffff, #d5d5d5),
		bg-gradient-r: linear-gradient(to top, #ffffff, #d5d5d5),
		bg-gradient-left: linear-gradient(to left, #ffffff, #d5d5d5),
		bg-gradient-right: linear-gradient(to right, #ffffff, #d5d5d5),
		text-color: #000000,
		placeholder-color: rgb(255, 255, 255, 0.5),
		font-family: 'Merriweather',
		primary-color: #f4f4f4,
		secondary-color: #dfdfdf,
		tertiary-color: #afafaf,
		accent1: linear-gradient(45deg, #4CAF50, #81C784)
	),
	dark: (
		bg-color: #000000,
		bg-gradient: linear-gradient(to left, rgb(55, 42, 42), rgb(35, 21, 21)),
		bg-gradient-r: linear-gradient(to top,  rgb(55, 42, 42), rgb(35, 21, 21)),
		bg-gradient-left: linear-gradient(to left,  rgb(55, 42, 42), rgb(35, 21, 21)),
		bg-gradient-right: linear-gradient(to right, rgb(55, 42, 42), rgb(35, 21, 21)),
		text-color: #f0f0f0,
		placeholder-color: rgb(240, 240, 240, 0.5),
		font-family: 'Montserrat',
		primary-color: #3b3838,
		secondary-color: #696969,
		tertiary-color: #7f8c8d,
		accent1: linear-gradient(45deg, #4CAF50, #81C784)
	)
);

// Mixin for theme styles
@mixin theme-styles {
	@each $theme, $colors in $themes {
		&.#{$theme} {
			background: map-get($colors, bg-gradient);
			color: map-get($colors, text-color);
			font-family: map-get($colors, font-family);
			background-image: map-get($colors, bg-gradient);
		}
	}
}
.app-container {
	@include theme-styles;
}
:root {
	@each $theme, $colors in $themes {
		&.#{$theme} {
			--bg-color: #{map-get($colors, bg-color)};
			--bg-gradient: #{map-get($colors, bg-gradient)};
			--bg-gradient-r: #{map-get($colors, bg-gradient-r)};
			--bg-gradient-left: #{map-get($colors, bg-gradient-left)};
			--bg-gradient-right: #{map-get($colors, bg-gradient-right)};
			--text-color: #{map-get($colors, text-color)};
			--placeholder-color: #{map-get($colors, placeholder-color)};
			--font-family: #{map-get($colors, font-family)};
			--primary-color: #{map-get($colors, primary-color)};
			--secondary-color: #{map-get($colors, secondary-color)};
			--tertiary-color: #{map-get($colors, tertiary-color)};
			--accent1: #{map-get($colors, accent1)};
			
			// Typography
			--font-size-xss: 0.5rem;
			--font-size-xs: 0.75rem;
			--font-size-s: 1rem;
			--font-size-sm: 1.25rem;
			--font-size-m: 1.5rem;
			--font-size-l: 1.75rem;
			--font-size-xl: 2.25rem;
			--font-size-xxl: 3rem;
			--line-height-base: 1.5;

			// Spacing
			--spacing-xs: 0.25rem;
			--spacing-sm: 0.5rem;
			--spacing-md: 1rem;
			--spacing-lg: 1.5rem;
			--spacing-xl: 2rem;

			// Radius
			--radius-xs: 4px;
			--radius-s: 8px;
			--radius-m: 16px;
			--radius-l: 32px;
			--radius-xl: 64px;

			// Breakpoints
			--breakpoint-sm: 576px;
			--breakpoint-md: 768px;
			--breakpoint-lg: 992px;
			--breakpoint-xl: 1200px;

			// Component Specific
			--transition-speed: 0.3s;
			--header-height: 100px;
		}
	}
}
@include mobile.mobile-styles;
@include respond-to('tablet') {
	@include tablet.tablet-styles;
}
@include respond-to('desktop') {
	@include desktop.desktop-styles;
}
@include respond-to('large') {
	@include large-screen.large-screen-styles;
}
